<div class="form__panel">
  <div class="form__header">
    <h2 class="heading heading--white"><%= task.name %></h2>
  </div>
  <div class="form__box">
    <form action="/tasks/<%= task.id %>/edit?_method=PUT" method="post">
      <label>
        <div class="wrapper">
          <div class="input-data">
            <input type="text" name="name" value="<%= task.name %>"/>
            <label>Nazwa zadania</label>
          </div>
        </div>
      </label>
      <label>
        <div class="wrapper">
          <div class="textarea-data">
            <textarea name="description" cols="30" rows="10" maxlength="500"><%= task.description %></textarea>
            <label>Opis zadania</label>
          </div>
        </div>
      </label>
      <label>
        <div class="wrapper">
          <label>Termin wykonania zadania</label>
          <div>
            <input type="datetime-local" name="completion_date" step="1"/>
          </div>
        </div>
      </label>
      <label>
        <div class="wrapper">
          <label>Status zadania</label>
          <div class="select">
            <select name="status" id="status">
              <option value="not-started">Do zrobienia</option>
              <option value="in-progress">W trakcie</option>
              <option value="done">Zakończone</option>
            </select>
          </div>
        </div>
        <br>
      </label>
      <div class="wrapper wrapper__button">
        <button class="button">zatwierdź</button>
      </div>
  </div>
</div>


<script>
  document.getElementById('status').value = '<%= task.status %>';
  document.getElementById('due-date').value = '<%= task.completion_date %>';

</script>
