<div class="container">
  <h1 class="heading">Twoje zadania</h1>
  <br>
  <br>
  <a href="/tasks/add" class="button">Nowe zadanie</a>
  <div class="select container__select">
    <select name="filtr" id="filtr">
      <option value="all">Wszystkie</option>
      <option value="done">Zakończone</option>
      <option value="in-progress">W trakcie</option>
      <option value="not-started">Do zrobienia</option>
    </select>
  </div>
  <br><br>
  <!-- test -->
  <% if(locals.tasks) { %>
    <% for(let i = 0; i < tasks.length; i++) { %>
      <div class="task">
        <a href="/tasks/<%= tasks[i].id %>" class="task__heading"><%= tasks[i].name %></a>
        <br>
        <span class="task__text"><%= tasks[i].status %></span>
        <span class="task__text"><%= tasks[i].completion_date %></span>
        <div class="task__icons">
          <button class="task__button--decoration-none"><a href="/tasks/<%= tasks[i].id %>/edit"><i class="fa-solid fa-pen-to-square"></i></a></button>
           <form action="/tasks/<%= tasks[i].id %>?_method=DELETE" method="post">
            <button class="task__button--decoration-none"><i class="fa-solid fa-trash"></i></button>
          </form>
        </div>
      </div>
    <% } %>
  <% } %>
  <% if(tasks.length == 0) { %>
      <h2 class="heading--light">Brak zadań</h2> 
  <% } %>
  <!-- end of test -->
</div>