<h1>zadania</h1>
<a href="/tasks/add">dodaj zadanie</a>
<!-- test -->
<% if(locals.tasks) { %>
  <% for(let i = 0; i < tasks.length; i++) { %>
    <div>
      <hr/>
      <a href="/tasks/<%= tasks[i].id %>"><%= tasks[i].name %></a><br/>
      <%= tasks[i].completion_date %><br/>
      <%= tasks[i].status %><br/>
      <button><a href="/tasks/<%= tasks[i].id %>/edit">edytuj</a></button>
      <form action="/tasks/<%= tasks[i].id %>?_method=DELETE" method="post">
        <button>usuń</button>
      </form>
      <hr/>
    </div>
  <% } %>
<% } %>
<!-- end of test -->